:root {
  background-color: cornflowerblue;
  padding: 3em;
}

body {
  background-color: white;
  padding: 1.5em;
}

.red {
  color: red;
}

canvas {
  border: 1px solid black;
  width: 90%;
}

/*
label {
  display: inline-block;
  width: 10vw;
  padding-bottom: 20px;
}
*/

/*
input {
  width: 20vw;
}
*/

/*
input[type="submit"] {
  width: 30vw;
}
*/